.myslides {
    /*  background: #eee;*/
    color: #000;
    margin: 0;
    padding: 0;
    height: 150px;
    /*  border-bottom:1px solid gray;*/
}

.swiper-container {
    width: 95%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 70px;
    height: 100px;
    background: none !important;
    color: #444;
    border: 3px solid #333;
    max-width: 95%;
    
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px ;
    transition: all 0.5s ease ;
}

.swiper-slide-active{
    background: #000 !important;
    color: #dfff00;    
}