<ion-view view-title="Shipment" hide-nav-bar="true">
    <ion-header-bar class="bar-deepblue bar bar-header disable-user-behavior" align-title="center">
        <div class="buttons buttons-left header-item" style="">
            <span class="left-buttons">
            <button ui-sref="app.about" class="button button-icon button-clear"><i class="fa fa-angle-left btn-back-arrow-icon"></i> <span class="btn-back-text">back</span></button>
            </span>
        </div>
        <div class="title title-center header-item">Terms &amp; Conditions</div>
        <div ng-controller="MyController" ng-include="'client/templates/_lives.html'"></div>

    </ion-header-bar>

    <ion-content class="whit-bg">
        <div class="text-left about-content">
            <h1>Randomino Online Terms of Service</h1>
            <h2>1. Welcome to Randomino!</h2>
            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
            <h2>2. Access to the Services</h2>
            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
            <h2>3. Using our Services</h2>
            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
            <h2>4. Changes to our Services; Changes to the Agreement</h2>
            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
            <h2>5. Payments</h2>
            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
        </div>
    </ion-content>

</ion-view>