<ion-view view-title="Shipment" hide-nav-bar="true">
    <ion-header-bar class="bar-deepblue bar bar-header disable-user-behavior" align-title="center">
        <div class="buttons buttons-left header-item" style="">
            <span class="left-buttons">
            <button ui-sref="app.about" class="button button-icon button-clear"><i class="fa fa-angle-left btn-back-arrow-icon"></i> <span class="btn-back-text">back</span></button>
            </span>
        </div>
        <div class="title title-center header-item">Randomino</div>
        <div ng-controller="MyController" ng-include="'client/templates/_lives.html'"></div>


    </ion-header-bar>

    <ion-content>
        <div class="text-center logo-padding-box">
            <div class="sidemenu-footer-logo">
                <img src="img/logo-randomino@2.png" class="full-image" />
            </div>
        </div>
        <div class="text-left about-us-content">
            <p>randomino is lingues es membres del sam familie. Lor separat existentie es un myth.</p>
            <p>Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
            <p>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</p>
            <p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
            <p>Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.</p>
        </div>
    </ion-content>

</ion-view>