<ion-view view-title="Settings" hide-nav-bar="true">
    <ion-header-bar class="bar-deepblue bar bar-header disable-user-behavior" align-title="center">
        <div class="buttons buttons-left header-item" style="">
            <span class="left-buttons">
            <button menu-toggle="left" class="white-color button button-icon button-clear ion-navicon"></button>
          </span>
        </div>
        <div class="title title-center header-item">About</div>

        <div class="buttons buttons-right header-item" ng-controller="MyController" ng-include="'client/templates/_lives.html'"></div>
    </ion-header-bar>

    <!-- main content -->
    <ion-content class="whit-bg">
        <div class="list settings-list">

            <a class="item" ng-repeat="page in pages" ui-sref="app.page({pageId : page._id})">
                <div class="list-text" ng-if="page.title">{{page.title}}</div>
                <div class="list-icon"><i class="fa fa-chevron-right"></i></div>
                
            </a>
        </div>
    </ion-content>

</ion-view>