<ion-view view-title="Imprint" hide-nav-bar="true">
  <ion-header-bar class="bar-deepblue bar bar-header disable-user-behavior" align-title="center">
        <div class="buttons buttons-left header-item" style="">
          <span class="left-buttons">
            <button ui-sref="app.about" class="button button-icon button-clear"><i class="fa fa-angle-left btn-back-arrow-icon"></i> <span class="btn-back-text">back</span></button>
          </span>
        </div>
        <div class="title title-center header-item">Imprint</div>
      
      
        <div class="buttons buttons-right header-item" style="">
          <span class="right-buttons">
            <button ui-sref="" class="button button-icon button-clear"><span class="btn-heart-text">8</span> <i class="fa fa-heart btn-heart-icon"></i></button>
          </span>
        </div>
  </ion-header-bar>


  <ion-content class="whit-bg">
    <div class="text-left about-content">
      <p>
        <b>Merkür Makina San. ve Tic. Ltd. Şti.</b><br/>
        Adres: Perpa Ticaret Merkezi B Blok<br/>
        K.2 No:07 34384 Okmeydanı / Istanbul
      </p>
      <p>
        E-posta: artun@mercury.com.tr<br/>
        Web: www.mercury.com.tr
      </p>
      <p>Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
      <p>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</p>
      <p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
      <p>Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.</p>
    </div>
  </ion-content>

</ion-view>
