<ion-view view-title="Shipment" hide-nav-bar="true">
  <ion-header-bar class="bar-deepblue bar bar-header disable-user-behavior" align-title="center">
        <div class="buttons buttons-left header-item" style="">
          <span class="left-buttons">
            <button ui-sref="app.about" class="button button-icon button-clear"><i class="fa fa-angle-left btn-back-arrow-icon"></i> <span class="btn-back-text">back</span></button>
          </span>
        </div>
        <div class="title title-center header-item">Privacy</div>
        <div class="buttons buttons-right header-item" style="">
          <span class="right-buttons">
            <button ui-sref="" class="button button-icon button-clear"><span class="btn-heart-text">8</span> <i class="fa fa-heart btn-heart-icon"></i></button>
          </span>
        </div>
  </ion-header-bar>

  <ion-content class="whit-bg">
    <div class="text-left about-content">
      <h1>Randomino Privacy</h1>
      <h2>1. Privacy 1</h2>
      <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
      <h2>2. Privacy 2</h2>
      <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
      <h2>3. Privacy 3</h2>
      <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
    </div>
  </ion-content>

</ion-view>
