<ion-view view-title="Shipment" hide-nav-bar="true">
    <ion-header-bar class="bar-deepblue bar bar-header disable-user-behavior" align-title="center">
        <div class="buttons buttons-left header-item" style="">
            <span class="left-buttons">
            <button ui-sref="app.shop" class="button button-icon button-clear"><i class="fa fa-close btn-close-icon"></i> <span class="btn-back-text">cancel</span></button>
            </span>
        </div>
        <div class="title title-center header-item"></div>
        <div class="buttons buttons-right header-item" style="">
            <span class="right-buttons">

              
        <div class="buttons buttons-right header-item" ng-controller="MyController" ng-include="'client/templates/_lives.html'"></div>

              
          </span>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="challenge-title-survey-container">
            <h1>Answer and get<br/><span class="bold"><i class="fa fa-heart"></i> 2 lives</span></h1>
        </div>
        <div class="challenge-button-container">
            <button class="button button-large button-skip" ui-sref="app.challenge-play">Skip</button>
            <button class="button button-large button-ok" ui-sref="app.challenge-survey-select">Ok</button>
        </div>
        <div class="dummy">
            <a ui-sref="app.challenge-survey-2">Developer > Facebook</a>
            <a ui-sref="app.challenge-survey-3">Developer > Watch Ads</a>
        </div>
    </ion-content>
</ion-view>