<ion-view view-title="Shipment" hide-nav-bar="true">
  <ion-header-bar class="bar-deepblue bar bar-header disable-user-behavior dark" align-title="center">
        <div class="buttons buttons-left header-item" style="">
          <span class="left-buttons">
            <button ng-click="backCheckoutConfirm()" class="button button-icon button-clear"><i class="fa fa-angle-left btn-back-arrow-icon"></i> <span class="btn-back-text">back</span></button>
          </span>
        </div>
        <div class="title title-center header-item">Terms &amp; Conditions</div>
        <div class="buttons buttons-right header-item">
          <span class="right-buttons">
            <i class="fa fa-shopping-bag btn-heart-icon"></i>
          </span>
        </div>
  </ion-header-bar>

  <ion-content class="ion-content-black">
    <div class="text-left checkout-terms-content">
      <h1>Randomino Online Terms of Service</h1>
      <h2>1. Welcome to Randomino!</h2>
      <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
      <h2>2. Access to the Services</h2>
      <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
      <h2>3. Using our Services</h2>
      <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
      <h2>4. Changes to our Services; Changes to the Agreement</h2>
      <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
      <h2>5. Payments</h2>
      <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. </p>
    </div>
  </ion-content>
  <ion-footer-bar class="footer-yellow-btn black pointer" ng-click="backCheckoutConfirm()">
    <h1 class="btn-text"><i class="fa fa-chevron-left"></i> Back to Checkout</h1>
  </ion-footer-bar>
</ion-view>
