<ion-view view-title="Shipment" hide-nav-bar="true">
  <ion-header-bar class="bar-deepblue bar bar-header disable-user-behavior dark" align-title="center">
        <div class="buttons buttons-left header-item" style="">
          <span class="left-buttons">
            <button class="button button-icon button-clear" ui-sref="app.feed"><i class="fa fa-angle-left btn-back-arrow-icon"></i> <span class="btn-back-text">back</span></button>
          </span>
        </div>
        <div class="title title-center header-item">Checkout</div>
        <div class="buttons buttons-right header-item">
          <span class="right-buttons">
            <i class="fa fa-shopping-bag btn-heart-icon"></i>
          </span>
        </div>
  </ion-header-bar>

  <ion-content class="ion-content-black">
    <div class="checkout-successful-container">
      <h1>The payment was succesful!</h1>
      <p class="shopping-bag"><i class="fa fa-shopping-bag"></i></p>
      <p>Thank you for your shopping!</p>
    </div>
  </ion-content>
  <ion-footer-bar class="footer-yellow-btn black pointer" ui-sref="app.feed">
    <h1 class="btn-text">Complete</h1>
  </ion-footer-bar>
</ion-view>
