<ion-view view-title="Shipment" hide-nav-bar="true">
  <ion-header-bar class="bar-deepblue bar bar-header disable-user-behavior dark" align-title="center">
        <div class="buttons buttons-left header-item" style="">
          <span class="left-buttons">
            <button ui-sref="app.checkout-payment" class="button button-icon button-clear"><i class="fa fa-angle-left btn-back-arrow-icon"></i> <span class="btn-back-text">back</span></button>
          </span>
        </div>
        <div class="title title-center header-item">Checkout</div>
        <div class="buttons buttons-right header-item">
          <span class="right-buttons">
            <i class="fa fa-shopping-bag btn-heart-icon"></i>
          </span>
        </div>
  </ion-header-bar>

  <ion-content class="ion-content-black">
    <div class="breadcrumb-container">
      <ul class="breadcrumb-checkout">
        <li>Address</li>
        <li class="active">Payment</li>
        <li>Confirm</li>
      </ul>
    </div>
    <div class="checkout-address-container">
      <div class="list settings-list divider">
        <div class="item item-divider">
          Payment Credit card
        </div>
      </div>
      <div class="list mb0">
        <label class="item item-input">
          <span class="input-label">Full Name</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Card Number</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Expiration Date</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Security Code</span>
          <input type="text">
        </label>
      </div>
      <div class="list mb0">
        <a class="item terms-conditions" href="#/app/checkout-terms" ui-sref="app.checkout-terms">
          <div class="list-text">Terms &amp; Conditions</div>
          <div class="list-icon"><i class="fa fa-chevron-right"></i></div>
        </a>
      </div>
      <div class="list mb0">
        <ion-checkbox ng-model="isChecked">I accept Terms &amp; Conditions</ion-checkbox>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="footer-yellow-btn black pointer" ui-sref="app.checkout-confirm">
    <h1 class="btn-text">Next</h1>
  </ion-footer-bar>
</ion-view>
