<ion-view view-title="Account" hide-nav-bar="true">

  <!-- main content -->

  <form name="accountForm">
      <ion-content>
        <div class="text-center ui-gradient-deepblue padding user-account-avatar register">
            <img class="avatar-account" src="sampledata/images/avatar.jpg">
        </div>
        <!-- form fields -->
        <!--
          #IMPLEMENTATION-DETAIL:
          ng-readonly is set on each field and bound to $scope.readonly
        -->
        <label class="item item-input item-input-transparent">
          <input type="text" ng-model="accountUser.username" name="username" ng-readonly="readonly" placeholder="Username" required>
        </label>
        <label class="item item-input item-input-transparent">
          <input type="text" ng-model="accountUser.name" name="name" ng-readonly="readonly"  placeholder="Full Name" required>
        </label>
        <label class="item item-input item-input-transparent">
          <input type="text" ng-model="accountUser.email" name="email" ng-readonly="readonly" placeholder="Email" required>
        </label>
        <!-- this leverages angular form directive to show up in case of errors-->
        <div class="item assertive item-text-wrap text-center" ng-if="accountForm.$invalid">
          Please fill in all info
        </div>
      </ion-content>

      <ion-footer-bar class="footer-green-btn pointer" ui-sref="app.feed">
          <h1 class="btn-text">Next</h1>
      </ion-footer-bar>
  </form>
</ion-view>
